.block-3{
    background-color: @light;
    font-style: normal;
    font-family: "Plus Jakarta Sans", sans-serif;
    margin-bottom: 100px;
}
.block-3-title      {

}
.block-3-decor{
    margin: 0 auto 56px;
}

.block-3-list{
    height: 48px;
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: @almost_black;
    font-size: 16px;
}
.block-3-list-prop{
    padding: 0 24px;
    background-color: @ashes;
    border-radius: 80px;
    margin-right: 39px;
}
.prop-marked{
    background-color: @marked;
    color: @light;
}
.block-3-list-prop-swipe{
    padding: 12px;
}
.block-3-list-prop-swipe-icon{
    width: 24px;
    height: 24px;
}
.block-3-content{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 48px;
}
.block-3-content-card{
    width: 519px;
    height: 605px;
    border-radius: 10px;
    margin-right: 32px;
    margin-bottom: 80px;
}
.block-3-content-card-image{
    background-color: #3b2c47;
    padding: 24px 24px 264px 387px;
}
.block-3-content-card-image-rent{
    width: 108px;
    height: 37px;
    background-color: @rent;
    color: @light;
    border-radius: 40px;
}
.block-3-content-card-info{
 border: 1px solid @ashes;
 border-top: none;
}
.block-3-content-card-info-wrap{
    padding: 24px;
}
.block-3-content-card-prise{
    font-weight: 500;
    font-size: 16px;
    margin-bottom: 8px;
}
.block-3-content-card-prise-marked{
    color: @marked;
    font-weight: 500;
    font-size: 20px;
    margin-right: 8px;
}
.block-3-content-card-title{
    font-size: 24px;
    font-weight: 700;
}
.block-3-content-card-contain{
    display: flex;
    justify-content: space-around;
    align-items: center;
}
.block-3-content-card-contain-text{
    font-size: 16px;
    font-weight: 400;
}
.block-3-content-card-contain-line{
    width: 2px;
    height: 24px;
    background-color: #030303;
}
.block-3-content-info{
    border-top: 1px solid @ashes;
    padding: 24px;
}
.block-3-content-info-wrap{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.block-3-content-info-avatar{
    width: 56px;
    height: 56px;
    border-radius: 50%;
    background-color: #f39797;
}
.block-3-content-info-text{
    margin-right: 255px;
}
.block-3-content-info-text-name{
    font-weight: 700;
    font-size: 20px;
}
.block-3-content-info-text-job{
    font-weight: 400;
    font-size: 14px;
    color: #676767;
}
.block-3-content-like{
    width: 44px;
    height: 44px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #F4F4F4;
}
.block-3-content-like-icon {
    height: 18px;
    width: 21px;
}

.block-3-button{
    margin: 0 auto;
    width: 142px;
    height: 48px;
    border-radius: 45px;
    border: none;
    font-size: 16px;
    font-weight: 500;
    padding: 17px 30px;
}
